In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

In [3]:
import os
current_dir = os.getcwd()
print(current_dir)

C:\Users\Admin\anaconda_projects\db\3

In [4]:
import warnings
warnings.filterwarnings('ignore')

import phik
from phik.report import plot_correlation_matrix
from phik import report

phik_overview = df.phik_matrix()#(interval_cols = interval_cols)
phik_overview.round(2)

## Задача 1

1) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить - кириллица

2) Сформировать новый датасет из отсортированного в алфавитном порядке списка из трёх факторов в количественной шкале: ингредиент_2, ингредиент_1, вес

3) Рассчитать матрицу корреляций для количественных данных. Использовать метод корреляций для случая нормального распределения данных.

In [56]:
PATH_OUT = r'C:\Users\Admin\anaconda_projects\db\3'

In [58]:
df = pd.read_csv(PATH_OUT + '\\upload.csv', sep=',', encoding='cp1251', na_values=[' '], decimal=',') #skipinitialspace=True
df = df.dropna()  # удалили строки с пропусками
df

,вес,оператор_линии,ингредиент_1,номер_смены,номер_конвейера,ингредиент_2,брак
0,61.7,2,250.9,2,1,6.3,Годен
1,58.6,2,275.7,1,2,6.7,Брак
2,61.6,1,266.4,1,1,16.7,Брак
3,61.2,1,282.4,1,1,16.8,Брак
4,68.9,1,270.5,2,2,16.9,Брак
5,66.7,1,265.8,1,1,17.1,Брак
6,73.5,2,251.1,2,1,17.2,Годен
7,70.6,1,245.1,2,2,17.2,Брак
8,66.9,1,245.5,3,1,17.6,Годен
9,69.7,1,258.1,3,2,18.3,Брак
10,77.5,1,280.5,2,2,18.6,Брак
11,66.9,1,265.7,2,1,18.7,Брак
12,66.1,1,255.2,3,2,19.0,Брак
13,66.7,1,256.6,3,2,19.1,Брак
14,72.4,1,254.7,2,2,19.1,Брак
15,66.7,1,257.5,1,1,20.0,Годен
16,65.8,1,277.3,3,1,20.1,Брак
17,71.9,2,269.9,2,1,20.2,Годен
18,66.3,1,252.4,3,1,20.9,Годен
19,68.8,2,243.6,2,2,21.3,Годен
20,78.3,1,243.9,2,1,21.8,Годен
21,77.1,2,258.1,2,2,22.3,Брак
22,65.1,2,249.8,2,1,9.8,Годен
23,64.5,2,266.5,2,1,10.0,Годен
24,61.6,1,244.3,3,1,10.2,Годен
25,64.3,2,247.7,2,1,10.3,Годен
26,64.1,2,242.7,3,2,10.4,Годен
27,54.7,2,257.9,2,1,10.5,Годен
28,62.4,1,264.0,3,1,10.5,Брак
29,62.8,2,266.5,2,1,10.5,Годен
30,65.1,2,257.9,1,2,11.6,Годен
31,63.9,1,238.7,2,1,11.9,Годен
32,70.2,1,266.0,1,1,12.0,Годен
33,58.3,2,235.6,3,1,12.1,Годен
34,61.8,1,267.7,3,2,12.2,Брак
35,58.0,1,269.8,1,2,12.2,Брак
36,58.7,2,258.3,2,1,12.6,Годен
37,60.5,2,260.7,2,1,12.6,Годен
38,66.4,1,255.6,3,1,12.7,Брак
39,67.8,1,269.7,2,1,13.1,Годен
40,65.8,1,277.3,3,1,20.1,Брак
41,71.9,2,269.9,2,1,20.2,Годен
42,66.3,1,252.1,3,1,20.9,Годен

In [9]:
new_df = (df[['ингредиент_2', 'ингредиент_1', 'вес']]
          .sort_values(by=['ингредиент_2', 'ингредиент_1', 'вес']))
new_df.corr(method='pearson')

              ингредиент_2  ингредиент_1       вес
ингредиент_2      1.000000      0.091276  0.664944
ингредиент_1      0.091276      1.000000 -0.002662
вес               0.664944     -0.002662  1.000000

## Задача 2

1) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить - кириллица

2) Сгруппировать по номеру партии (столбцу key) и найти сумму по каждому фактору.

3) Рассчитать матрицу линейных корреляций между количественными данными для новой таблицы. Использовать метод корреляции для случая ненормального распределения данных.

4) Вывести на экран матрицу корреляций. Если коэффициент корреляции менее 0.85 по модулю, то такие значения в матрице не должны выводится (вместо них должны стоять NaN).

In [14]:
df1 = pd.read_csv(PATH_OUT + '\\нагрев.csv',sep=',', encoding='cp1251', skipinitialspace=True)
df1.head(8)

   key  Полная мощность  Время нагрева  Вес добавки
0    1         0.305130       0.211253   346.384905
1    1         0.765658       0.477438   382.505505
2    1         0.580313       0.430460   407.239422
3    1         0.518496       0.379979   393.062226
4    1         0.867133       0.643691   403.623758
5    2         0.381124       0.220351   386.468753
6    2         0.261665       0.205527   430.638118
7    2         0.710297       0.484962   406.129754

In [48]:
df1.groupby('key').agg('sum').corr(method='spearman').where(lambda x: x.abs() > 0.85, pd.NA)

                 Полная мощность  Время нагрева  Вес добавки
Полная мощность         1.000000       0.988677          NaN
Время нагрева           0.988677       1.000000          NaN
Вес добавки                  NaN            NaN          1.0

groupby + agg() + corr() + where(lambda ...))

### Дополнительно

## Задача 3

1) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить - кириллица

2) Сформировать датасет из отсортированного в алфавитном порядке списка количественного фактора ингредиент_1 и качественного фактора брак.

3) Используя теорию урока, выбрать метод и рассчитать по новому датасету взаимосвязь между данными.

4) Результат вывести в виде числа с округлением до четвёртого знака.

df.columns = df.columns.str.lower().str.replace(' ', '_')
new_df = (df[['ингредиент_1', 'брак']]
          .sort_values(by=['ингредиент_1', 'брак']))


def correlation_ratio(cat_var, num_var):

    groups = [num_var[cat_var == c] for c in np.unique(cat_var)]
    ss_between = sum(len(g) * (g.mean() - num_var.mean()) ** 2 for g in groups)
    ss_total = sum((num_var - num_var.mean()) ** 2)
    return np.sqrt(ss_between / ss_total)

    
print(correlation_ratio(new_df['брак'], new_df['ингредиент_1']).round(4))

## Задача 4

1) Сформировать список из количественного фактора вес и качественного фактора брак
2) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить - кириллица

3) Сформировать новый датасет, используя условия отбора :
- номер_конвейера = 1
- номер_смены = 2

4) Сформировать датасет из отсортированного в алфавитном порядке списка количественного фактора вес и качественного фактора брак.
5) Используя теорию урока, выбрать метод и рассчитать по новому датасету взаимосвязь между данными в разных шкалах.

6) Результат вывести с округлением до четвёртого знака.

In [72]:
df = pd.read_csv(PATH_OUT + '\\upload.csv', sep=',', encoding='cp1251', na_values=[' '], decimal=',') #skipinitialspace=True

def correlation_ratio(cat_var, num_var):

    groups = [num_var[cat_var == c] for c in np.unique(cat_var)]
    ss_between = sum(len(g) * (g.mean() - num_var.mean()) ** 2 for g in groups)
    ss_total = sum((num_var - num_var.mean()) ** 2)
    return np.sqrt(ss_between / ss_total)

correlation_ratio(df['брак'], df['вес']).round(4)

In [86]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
new_df = df.query('номер_конвейера==1 & номер_смены == 2')
new_df

,вес,оператор_линии,ингредиент_1,номер_смены,номер_конвейера,ингредиент_2,брак
0,61.7,2,250.9,2,1,6.3,Годен
6,73.5,2,251.1,2,1,17.2,Годен
11,66.9,1,265.7,2,1,18.7,Брак
17,71.9,2,269.9,2,1,20.2,Годен
20,78.3,1,243.9,2,1,21.8,Годен
22,65.1,2,249.8,2,1,9.8,Годен
23,64.5,2,266.5,2,1,10.0,Годен
25,64.3,2,247.7,2,1,10.3,Годен
27,54.7,2,257.9,2,1,10.5,Годен
29,62.8,2,266.5,2,1,10.5,Годен
31,63.9,1,238.7,2,1,11.9,Годен
36,58.7,2,258.3,2,1,12.6,Годен
37,60.5,2,260.7,2,1,12.6,Годен
39,67.8,1,269.7,2,1,13.1,Годен
41,71.9,2,269.9,2,1,20.2,Годен

## Задача 5

1) Сформировать список из количественного фактора вес и качественного фактора брак.
2) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить - кириллица

4) Сформировать новый датасет, используя условия отбора:
- ингредиент_1 < 270
- номер_смены = 2


3) Сформировать датасет из списка качественных факторов: оператор_линии и брак.

4) Используя теорию урока, выбрать метод и рассчитать по новому датасету корреляцию для поиска взаимосвязи между данными в одинаковых качественных шкалах.

5) Результат вывести в виде числа, с округлением до четвёртого знака.

In [60]:
df = pd.read_csv(PATH_OUT + '\\qq_csv.csv',sep=',', encoding='cp1251', skipinitialspace=True)
df.head(3)

,вес,оператор_линии,ингредиент_1,номер_смены,новер_конвейера,ингредиент_2,брак
0,61.7,2,250.9,2,1,6.3,Годен
1,58.6,2,275.7,1,2,6.7,Брак
2,53.6,2,280.6,2,1,7.5,Брак

In [63]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

....


def my_cramers(x, y):
.....


print(my_cramers(df['брак'], df['оператор_линии']).round(4))

0.2829

## Задача 6

1)Загрузить файл, удалить строки с пропущенными значениями
2) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить кириллица

3) На основе фактора ингредиент 1 сформировать новый фактор ингредиент_кат, используя условия:
- если менее равно 270, то группа менее_270
- если более 270, то группа более_270

4) Сформировать новый датасет из нового фактора ингредиент_кат и качественного фактора брак
5) Используя теорию урока, выбрать метод и рассчитать по новому датасету корреляцию для поиска взаимосвязи между данными в одинаковых качественных шкалах.

6) Результат вывести в виде числа, с округлением до четвёртого знака.

In [64]:
df = pd.read_csv(PATH_OUT + '\\qq_csv.csv',sep=',', encoding='cp1251', skipinitialspace=True)
df.head(3)

,вес,оператор_линии,ингредиент_1,номер_смены,новер_конвейера,ингредиент_2,брак
0,61.7,2,250.9,2,1,6.3,Годен
1,58.6,2,275.7,1,2,6.7,Брак
2,53.6,2,280.6,2,1,7.5,Брак

In [65]:
# загрузить данные

....


def my_cramers(x, y):
......

print(my_cramers(df['брак'], df['ингредиент_кат']).round(4))

0.4385

## Задача 7

Необходимо:
1) Перевести название колонок в стандарт PEP8:
перевести в нижний регистр
пробелы между словами заменить на _
язык сохранить - кириллица
2) Построить график диаграммы рассеяния, используя библиотеку seaborn. При построении учесть:

ось ОХ - фактор вес
ось OY - фактор, название которого вводится
на одном графике построить диаграмму рассеяния для двух групп. Группирующий фактор оператор_линии
вывести заголовок диаграммы:
Диаграмма рассеяния: Анализ зависимости между факторами.
Причём отобразить название на двух строках. Пример ниже на картинке
размер шрифт заголовка сделать 16
расстояние от заголовка до начала графика сделать равным 1.01
остальные настройки графика по цвету, шрифту, отступов - оставить по умолчанию
Сохраните диаграмму в файл target_3_7.png.

Пример

df = pd.read_csv(PATH_OUT + '\\qq_csv.csv',sep=',', encoding='cp1251', skipinitialspace=True).dropna()
df.columns = df.columns.str.lower().str.replace(' ', '_')
df

In [ ]:
.....

sns.scatterplot(....)
plt.suptitle(.....)
plt.show()